/*道場詳細画面のcss*/

/*pc用・共通*/
/*top情報*/
#showtop{
    padding: 20px 40px;
    display: flex;
}
#showtop div{
    flex-grow: 0.5;
}
#dojoinfo{
    width:450px;
    padding-right: 30px;
}
#showtop small{
    margin-right: 10px;
    font-size: 13px;
}

.btn-favorite{
    font-size: 12px;
    background-color: #CD5C5C;
    color: #fff;
}
.btn-favorite:hover{
    color: #F0E68C;
}

.btn-delete{
    font-size: 12px;
    background-color: #808080;
    color: #FFFFFF;
}
.btn-delete:hover{
    color: #FFFFE0;
}

#showtop table{
    margin-top: 20px;
}
#showtop tr{
    height: 40px;
    border-bottom: 1px #DEB887 solid;
}
#showtop td{
   word-break: break-all;
}
#showtop td a{
    color: #6B8E23;
}

.toptable{
    border-top: 1px #DEB887 solid;
}

#showtop th{
    width: 150px;
    background-color: #EEE8AA;
}


/*写真部分*/


.slide{
    max-width: 400px;
    height: 300px;
    display: flex;
    overflow-x: scroll;
    margin: auto;
    padding: 0;
    background-color: #F5FFFA;
}
.slide::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    
}
.slide::-webkit-scrollbar-track{
    background: #EEE8AA;
    border-radius: 5px;
    box-shadow:0 0 5px #BDB76B inset ;
}
.slide::-webkit-scrollbar-thumb{
    background: #6B8E23;
    border-radius: 5px;
}

.slide img{
    width: 380px;
    margin: 10px;
    padding: 0;
    list-style: none;
}

#btn_img{
    padding-top: 20px; 
}
.btn_show{
    margin-right: 10px;
    font-size: 13px;
    background-color: #6B8E23;
    color: #fff;
}
.btn_show:hover{
    color: #FFD700;
}


/*詳細情報の部分*/

#dojoterms{
    margin: 0 40px;
    display: flex;
}
#dojoterms div{
    width: 440px;
    margin: 0 auto;
    padding: 20px 0;
}

#dojoterms h4{
    text-align: center;
}
#dojoterms table{
    width: 90%;
}
#dojoterms tr{
    border-bottom:1px #DEB887 solid; 
}

#dojoterms th{
   width: 50%;
   height: 40px;
   padding-left: 10px;
   background-color: #EEE8AA;
}
#dojoterms td{
    padding-left: 10px;
    max-width: 155px;
    word-wrap: break-word;
}

#toedit{
    margin: 35px auto;
}
#toedit p{
    width:50%;
    margin: auto;
}
#toedit img{
    width: 60px;
}

#toedit div{
    width: 30%;
    margin: auto;
}


/*口コミ部分（home画面と共有）*/
#reviews h4{
    text-align: center;
    margin: 20px auto;
}



#reviews > p{
    width: 70%;
    margin: 10px auto 0;
}

/*★タブレット・スマホ用*/
@media screen and (max-width:979px){
    #showtop{
        padding: 20px 10px;
        flex-flow:column;
    }
    #dojoinfo{
        width: 90%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    #dojoinfo table{
        margin: 20px auto;
    }
    #dojoinfo td{
        font-size: 15px;
        text-align: left;
    }
    #showtop .dojoimg{
        width: 90%;
        margin: auto;
    }
    #dojoterms{
        width: 90%;
        margin: auto;
        flex-flow:column;
    }
    #dojoterms div{
        width: 100%;
    }
    #dojoterms table{
        margin: 10px auto;
    }
    #toedit p{
        width: 61%;
    }
    #toedit div{
        width: 50%;
    }
    
}