/*道場写真一覧のCSS*/
/*PC用*/
.dojophototop{
    width: 100%;
    margin: 40px auto 50px;
    text-align: center;
}
.dojophototop img{
    width: 55%;
}
#dojophotos{
    width: 100%;
    padding-bottom: 30px;
}

#dojophotos > div{
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dojoimg{
    width:280px;
    text-align: center;
}

#dojophotos img{
    width: 200px;
    margin: 10px;
}
#dojophotos small{
    display: block;
}

/*★スマホ用*/
@media screen and (max-width:659px){
    .dojophototop h1{
        font-size: 30px;
    }
    .dojophototop img{
        width: 80%;
    }
    .dojoimg{
        width:140px;
        text-align: center;
    }
    #dojophotos img{
        width: 100px;
        margin: 10px;
    }
    .toreviewcreate p{
        width: 80%;
        margin: auto;
    }
}