/*パンくずリスト*/
.route{
    padding: 20px 20px 0 20px;
}

.route a{
    text-decoration: none;
    color: #6B8E23;
}

.route a:hover{
    border-bottom:dotted;
    border-color: #6B8E23;
    border-width: 2px;
}



/*create画面*/
/*トップ画面*/
#createtop{
    width: 100%;
    height: 500px;
    border-radius:10px;
    position: relative;

}

#createtop h1{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#createtop p{
    width: 60%;
    font-size: 18px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*フォーム部分*/
.formname{
    margin: 30px auto;
    text-align: center;
}

#dojoform{
    width: 95%;
    margin: auto;
    display: flex;
    
}

.nav-tabs, .nav-item{
    flex-direction: column;
}

.nav-pills .nav-link.active{
    background-color: #FFF;
    color: #2F4F4F;
    border:solid 2px;
}

.nav-pills .nav-link{
    color: #2F4F4F;
}


#dojoform form{
    flex-grow: 1;
    
}

#dojoform .required{
    font-size: 13px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}

#dojoform .tab-pane{
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
}


.btn_submit{
    width:35%;
    margin: 5px auto 10px;
}

.btn_check{
    background-color: #2F4F4F;
    color: #fff;
}
.btn_check:hover{
    color: 	#F0E68C;
}

.append_imgs, .remove_imgs{
    color: #2F4F4F;
}