/*パンくずリスト*/
.route{
    padding: 20px 20px 0 20px;
}

.route a{
    text-decoration: none;
    color: #6B8E23;
}

.route a, .route strong, .route i{
    font-size: 14px;
}

.route a:hover{
    border-bottom:dotted;
    border-color: #6B8E23;
    border-width: 2px;
}



/*create画面*/

/*★PC用画面*/
/*トップ画面*/
#createtop{
    width: 100%;
    height: 500px;
    position: relative;
    background: url(/images/dojocreate.png) no-repeat center;
    background-size: auto;

}

#createtop h1{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#createtop p{
    width: 60%;
    font-size: 18px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*フォーム部分*/
.form-group{
    margin: 10px 0 30px;
}

.formname{
    margin: 30px auto;
    text-align: center;
}


#dojoform{
    width: 95%;
    margin: auto;
    display: flex;
}

#dojoform .nav-tabs, .nav-item{
    flex-direction: column;
}

#dojoform .nav-pills .nav-link.active{
    background-color: #FFF;
    color: #2F4F4F;
    border:solid 2px;
}

#dojoform .nav-pills .nav-link{
    color: #2F4F4F;
}


#dojoform form{
    flex-grow: 1;
    width: 85%;
    
}

.required{
    font-size: 13px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}

#dojoform .tab-pane{
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
}
#dojoform .form-check{
    margin-left: 15px;
}

.btn_submit{
    width: 155px;
    margin: 30px auto 0;
    padding-bottom: 20px;
}

.btn_check{
    background-color: #2F4F4F;
    color: #fff;
}
.btn_check:hover{
    color: 	#F0E68C;
}

.append_imgs, .remove_imgs{
    color: #2F4F4F;
}

.append_imgs i, .remove_imgs i{
    font-size: 25px;
}


/*★スマホ用(create)*/
@media screen and (max-width:659px){
    #createtop h1{
        text-align: center;
        font-size: 35px;
    }
    #createtop p{
        font-size: 16px;
    }
    #dojoform .nav-link{
    width:53px;
    }
}