/*道場編集画面のCSS*/

#edittop{
    width: 100%;
    height: 500px;
    border-radius:10px;
    position: relative;
}

#edittop h1{
    margin: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#edittop div{
    width: 85%;
    height: 50%;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-image: url(/images/dojoedit_flame.gif);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat; 
}

#edittop div h5{
    font-weight: bold;
}


#edittop div span{
    margin-right: 10px;
    background-color: #DAA520;
    border-radius: 10px;
}

#edittop > p{
    width: 65%;
    font-size: 18px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
