/*弓道場のTEBIKIとはの画面*/

/*PC版*/

    #aboutview{
        max-width: 100%;
        height: 500px;
        background: url(/images/aboutview.png) no-repeat;
        background-position: 20px 10px;
        background-size: contain;
        border-radius:10px;
        position: relative;
    }
    #aboutview h1{
        position: absolute;
        top: 130px;
        left: 240px;
        font-size: 60px;
        font-weight: bold;
    }
    #aboutview h4{
        text-align: center;
        position: absolute;
        top: 260px;
        left: 200px;
        font-weight: bold;
    }
    #aboutview span{
        color: #CD5C5C;   
    }
    
    #aboutworry{
        margin: 100px auto;
    
    }
    #aboutworry h4{
        text-align: center;
    }
    #aboutworry > div{
        width: 80%;
        margin: 20px auto;
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
    }
    
    .worries{
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .worries p{
        padding-left: 20px;
        font-size: 18px;
    }
    
    #solution{
        text-align: center;
    }
    #solution strong{
        color: #CD5C5C;
    }
    #solution > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #solution > div div{
        padding: 10px;
    }
    
    #howtouse{
        width: 80%;
        margin: 50px auto;
    }
    #howtouse h4{
        text-align: center;
        margin-bottom: 30px;
    }
    #howtouse > div{
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        
    }
    #howtouse > div div{
        width: 90%;
        margin: 10px auto 40px;
        /*text-align: center;*/
    }
    #howtouse > div div a{
        display: block;
        width: 210px;
        margin: auto;
    }
    #howtouse span{
        color: #CD5C5C;
    }
    .usetop{
        font-size: 19px;
        border-bottom: dotted 2px;
    }
    #aboutbottom{
        padding-bottom: 40px;
        text-align: center;
    }


/*タブレット版*/
@media screen and (max-width:979px){
    #aboutview{
        max-width: 100%;
        height: 400px;
        background: url(/images/aboutview.png) no-repeat;
        background-position: 10px 10px;
        background-size: contain;
        border-radius:10px;
        position: relative;
    }
    
    
    #aboutview h1{
        position: absolute;
        top: 100px;
        left: 170px;
        font-size: 45px;
        font-weight: bold;
    }
    #aboutview h4{
        text-align: center;
        position: absolute;
        top: 200px;
        left: 130px;
        font-size: 18px;
        font-weight: bold;
    }
    #aboutview span{
        color: #CD5C5C;   
    }
    .worries img{
        width: 250px;
    }
    #solution h4, #solution > p{
        width: 80%;
        margin: auto;
    }
    #solution > div{
        flex-flow: column;
        text-align: center;
    }
    #solution > div > div{
        width:70%;
        margin: auto;
    }
    #aboutbottom h4{
        width: 90%;
        margin: auto;
    }
    
}

/*スマホ用*/
@media screen and (max-width:659px){
    #aboutview{
        background: url(/images/sp_aboutview.png) no-repeat;
        background-position: top 10px center;
        background-size: contain;
    }
    #aboutview h1{
        position: static;
        width: 280px;
        margin: auto;
        padding-top: 28%;
        font-size: 35px;
        font-weight: bold;
    }
    #aboutview h4{
        position: static;
        width: 90%;
        margin: auto;
        padding-top: 7%;
        font-size: 15px;
        font-weight: bold;
    }
    #aboutworry > div{
        width: 90%;
    }
    #aboutworry h4{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .worries{
        flex-flow: column;
        text-align: center;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .worries img{
        width: 90%;
        margin-bottom: 20px;
    }
    .worries p{
        padding: 0;
    }
    
    .usetop{
        font-size: 18px;
    }
    #howtouse{
        width: 90%;
    }
    #howtouse > div div{
        width: 100%;
    }
    
    #aboutbottom img{
        width: 90%;
        margin: 20px auto 10px;
    }

}