/*口コミの新規登録*/
/*PC用*/
.reviewcreatetop{
    width:100%;
    height: 500px;
    text-align: center;
    background:url(/images/dojocreate.png) no-repeat center;
    background-size: auto; 

}

.reviewcreatetop h1{
    padding-top: 150px;
}

.reviewcreatetop p{
    font-size: 18px;
    padding-top: 20px;
}


.reviewformtitle{
    margin: 40px auto 20px;
    text-align: center;
}

#reviewform{
    width: 75%;
    margin: 10px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
#form_reviewcreate .form-group{
    width: 90%;
    margin: auto;
}
#form_reviewcreate .btn_submit{
    text-align: center;
}
#form_reviewcreate textarea{
    height: 150px;
}
.form-controle-file{
    width:280px;
}

/*★スマホ用*/
@media screen and (max-width:659px){
    .reviewcreatetop h1{
        font-size: 35px;
    }
    .reviewcreatetop p{
        padding: 10px;
        font-size: 15px;
    }
    #reviewform{
        width: 85%;
    }
}


/*口コミ一覧画面*/
/*PC用*/
#reviewindex{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}
#reviewindex h1{
    
}
#reviewindex img{
    width: 35%;
    margin-top: 20px;
}

.hidephotos{
    width: 100px;
    height: auto;
    display:none;
    margin: 5px;
}

.card-body span{
    font-size: 12px;
}
.photomore{
    display: inline-block;
    font-size: 13px;
}
.reviewbtn i, .reviewbtn span{
    color:#CD5C5C;
}
.reviewdeletebtn i, .reviewdeletebtn span{
    color:#808080;
}
.toreviewcreate{
    padding: 20px 0;
    text-align: center;
}


/*タブレット・スマホ用*/
@media screen and (max-width:679px){
    #reviewindex h1{
        font-size: 35px;
    }
    #reviewindex img{
        width: 60%;
    }
}