/*利用規約・プライバシーポリシー*/
#role{
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    width: 90%;
    margin: auto;
    padding: 30px;
}
#role h1{
    text-align: center;
    margin: 10px auto 30px;
}
.tR{
    text-align: right;
}